#visi{
	background-image: url("../../bg/visi.png");
	height: 1000px;
	background-repeat : no-repeat;
	position: relative;
	border : 1px solid red;
	background-size: 100%;
	margin-top: 100px;
}
#page7{
	height: 1000px; 
	border-top-style: none;
	background-image: url("../../bg/page7.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	border : 1px solid red;
}